services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  server:
    build:
      context: ./api
      target: builder
    container_name: express_server
    restart: always
    depends_on:
      - db
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_PORT: ${DB_PORT}
      NODE_PORT: ${NODE_PORT}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - "3001:3001"
    volumes:
      - ./api:/app
      - /app/node_modules
    command: npm run dev

  client:
    build:
      context: ./app
      target: build
    container_name: react_client
    restart: always
    depends_on:
      - server
    ports:
      - "3000:5173"
    volumes:
      - ./app:/app
      - /app/node_modules
    command: npm run dev

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_panel
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      # MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    depends_on:
      - db

volumes:
  mysql-data:
